<div id="top-links">
  <div class="container">
    <div class="row" id="shotsbar">
      <div class="col-xs-6">
        <%= link_to "SHOTS", shots_path %>
      </div>

      <div class="col-xs-6">
        <%= link_to "BADGES", badges_path %>
      </div>
    </div>
  </div>
</div>