<div  id="shotsbar">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to "CURRENT SHOTS", "#current_shots", id: "current_link" %>
    </li>

    <li>
      <%= link_to "BADGES", "#badges", id: "badges_link" %>
    </li>

    <li>
      <%= link_to "ALL SHOTS", "#all_shots", id: "all_link" %>
    </li>
  </ul>
</div>




