<div class="page-title">
  <h1>TEAMMATES</h1>
</div>

<div class="page-menu hide">
</div>

<% @profiles.each do |profile| %>
  <%= render partial: 'small_people', locals: { profile: profile } %>
<% end %>

<div class="page-foot">
  <%= link_to "Back to top", "#title", class: "btn btn-default" %>
</div>
