/* -------------------------------------
 * Fonts
 * ------------------------------------- */
$font-family-base: "National", "Open Sans", "sans-serif";
$font-family-button: "ProximaNova-Light", "Open Sans", "sans-serif";
$font-family-title: "ProximaNova-Regular", "Open Sans", "sans-serif";
$font-family-head: "Museo Slab", "Montserrat", "sans-serif";

// Font-size and line-height
$title-size: 34px;
$sub-title-size: 24px;
$base-size: 18px;
$button-size: 16px;
$letter-spacing: 1px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;

// Light Blue Scheme
// $special-text-color: #FF648D;  /* Bright Red-Pink */
// $light-text-color: #5894DA;  Light Ocean Blue
// $dark-text-color: #35516B;  /* Dark Ocean Blue */
// $light-bg-color: #A1DEEE;
// $dark-bg-color: #71B1C7;

// Dark Purple Scheme
$special-text-color: #FF6464;  /* Light Orange-Red */
$light-text-color: #BC91ED;  /* Light Mauve */
$dark-text-color: #58356B;  /* Dark Ocean Blue */
$light-bg-color: #BC82D7;
$dark-bg-color: #322468;


// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

/* -------------------------------------
 * Box Model
 * ------------------------------------- */
// Scheme
$box-corner-radius: 4px;

/* -------------------------------------
 * Cards
 * ------------------------------------- */
// Scheme

/* -------------------------------------
 * Buttons
 * ------------------------------------- */
// Scheme