/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('ProximaNova-Light.eot?') format('eot'),
       url('ProximaNova-Light.otf')  format('opentype'),
       url('ProximaNova-Light.woff') format('woff'),
       url('ProximaNova-Light.ttf')  format('truetype'),
       url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('ProximaNova-Regular.eot?') format('eot'),
       url('ProximaNova-Regular.otf')  format('opentype'),
       url('ProximaNova-Regular.woff') format('woff'),
       url('ProximaNova-Regular.ttf')  format('truetype'),
       url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('ProximaNova-Bold.eot?') format('eot'),
       url('ProximaNova-Bold.otf')  format('opentype'),
       url('ProximaNova-Bold.woff') format('woff'),
       url('ProximaNova-Bold.ttf')  format('truetype'),
       url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}

$font-family-base: "ProximaNova-Light", "Open Sans", "sans-serif";
$font-family-title: "ProximaNova-Regular", "Open Sans", "sans-serif";
$font-family-head: "Museo Slab", "Montserrat", "sans-serif";

// Font-size and line-height
$title-size: 34px;
$sub-title-size: 24px;
$letter-spacing: 1px;
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$purple: #6452BD;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

/* -------------------------------------
 * Box Model
 * ------------------------------------- */
// Scheme
$box-corner-radius: 4px;

/* -------------------------------------
 * Cards
 * ------------------------------------- */
// Scheme

/* -------------------------------------
 * Buttons
 * ------------------------------------- */
// Scheme