<div class="list-card">

  <div class="card-left">
    <p>Something ?</p>
  </div>

  <div class="card-middle">
    <h4><%= update.description %></h4>
  </div>

  <div class="card-right">
    <p>Something ?</p>
  </div>

</div>