<div class="list-card">

  <div class="card-left">
    <%= image_tag(profile.user.picture(:thumb), alt: "Profile", class: "img-circle") %>
  </div>

  <div class="card-middle">
    <% profile.badges.distinct.each do |badge| %>
      <%= image_tag(badge.picture, size: "50x50", alt: "Badge", class: "img-circle") %>
    <% end %>
  </div>

  <div class="card-right">
    <%= link_to "Give badges", badges_path(@shot, profile.id), class: "btn btn-right btn-primary" %>
  </div>

</div>