<div class="list-card">

  <div class="card-left">
    <%= link_to image_tag(mate.user.picture(:thumb), alt: "Profile", class: "img-circle"), people_show_path(mate) %>
  </div>

  <div class="card-middle">
    <% mate.badges.distinct.each do |badge| %>
      <%= image_tag(badge.picture, size: "50x50", alt: "Badge", class: "img-circle")  %>
    <% end %>
  </div>

  <div class="card-right">
    <% if current_profile != mate && invitees.include?(current_profile) %>
      <%= link_to "Give badges", badges_path(@shot, mate.id), class: "btn btn-right btn-primary" %>
    <% end %>
  </div>

</div>