.list-card
  .card-left
    .circle
      .bar


  .card-center
    h4 = link_to shot.title, shot_show_path(shot)
    p
      i class="fa fa-bullseye"
      = "#{shot.percentage_done} % done"
      i class="fa fa-calendar"
      = "Deadline #{shot.deadline}"
  .card-right



