.mine-card  {
  width: 80%;
}

#my_badges {
  display: none;
  padding-bottom: 20px;
}

#my_current_shots {

}

#my_pending_shots {
  display: none;
}

.submit-tags {
  display: inline;
  padding: 2px;
}

.no-current-shots {
  padding-top: 20px;
}