<%= image_tag(badge.picture, size: "100x100", alt: "Badge", class: "img-circle") %>
<br><br>
<p class="title"><%= badge.title %></p>
<!-- <p class="description"><%= badge.description %></p> -->
<%= check_box_tag "badges[#{badge.id}]", true, false, class: 'hide' %>