<div class="list-card shot-update linked-card">
  <div class="card-left">
      <%= image_tag "jim.gif", size: "100x100", alt: "Jim's victorious dance", class: "img-circle" %>
  </div>
  <div class="card-middle">
    <h4>
      <%= link_to "Shot accomplished!", shot_path(update.shot), class: "label label-success" %></h4>
    <p>
      <strong><%= update.shot.title %></strong> was accomplished! Bravo to the team!
      <br>
      <span class="subtext"><i class="fa fa-calendar"></i> <%= update.created_at.strftime("on %m/%d at %I:%M%p") %></span>
    </p>
  </div>
</div>