/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  background: $background;
  color: $gray;
  font-family: $font-family-base;
  font-size: $base-size;
  letter-spacing: $letter-spacing;
  // p {
  //   line-height: 20px;
  // }
}


h1, h2, h3 {
  margin: 0px;
}

h1 {
  line-height: 40px;
  font-family: $font-family-head;
  font-size: $title-size;
  color: $dark-text-color;
}
h2 {
  padding: 20px 0px 20px 0px;
  font-family: $font-family-title;
  font-size: $sub-title-size;
}
h3 {
  font-family: $font-family-base;
  font-size: $sub-title-size;
}

.master-container {
  margin: 10px auto;
  padding: 0px;
  width: 1000px;
  position: relative;
  background: white;
  border-radius: $box-corner-radius;
  form {
    position: relative;
    float: initial;
  }
}

.alert {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border-radius: $box-corner-radius;
}

.team {
  img {
    margin: 0px 0px 50px 10px;
  }
  .btn {
    margin: 10px 0px 50px 10px;
  }
}

.highlighted {
  border: 1px solid $light-bg-color;
  transition: border 0.1s ease;
}

.selected {
  background: lighten($light-bg-color, 15%);
  // transition: background 0.1s ease;
}

.img-circle {
  border-radius: 50%;
}

.buttons {
  float: right;
  margin: 50px;
  display: block;
}

.clear {
  clear: both;
}

.form {
  width: 100%;
  background-color: white;
}

.nav-tabs {
  width: 900px;
  font-family: $font-family-title;
}

.float-right {
  float: right;
  display: inline-block;
  margin-top: 35px;
  margin-left: 10px;
}

.badge-image {
  float: left;
}

.badge-text {
  float: left;
  margin-left: 15px;
  margin-top: 30px;
  font-size: 30px;
}

.padded {
  padding: 20px;
}

.popover {
  border-radius: 5px;
}

.buttons-centered {
  text-align: center;
  padding: 10px;
  display: inline;

}
