/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 body {
  background: $blue;
  color: $gray;
  font-family: $base-font;
  font-weight: 400;
 }

.master-container {
  margin: 10px auto;
  width: 1000px;
  position: relative;
  padding: 10px;
  background: white;
  border-radius: $box-corner-radius;
 }

.square-card {
  margin: 0;
  width: 245px;
  height: 300px;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
  background: white;
  display: inline-block;
  float: left;
  p.title {
    font-weight: 700;
  }
  p.description {
  }

 }
.highlighted {
  border-color: $gray-light;
}
.selected {
  background: $gray-lighter;
}

 .img-circle {
  border-radius: 50%;
 }