/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: $light-text-color;
$navbar-hover-color: $dark-text-color;
$navbar-font-size: 18px;
$navbar-letter-spacing: $letter-spacing;
$navbar-bg: $white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 10px;
$navbar-horizontal-padding: 20px;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: $box-corner-radius;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */

.invite_count {
  background: #EE5F5B;
  position: absolute;
  width: 30px;
  text-align: center;
  line-height: 32px;
  font-size: 15px;
  font-weight: bold;
  top: 3px;
  right: 27px;
  color: white;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}

.super-nav {
  line-height: 3.9;
  margin-bottom: 0;

  li {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-top: -10px;
    // border-bottom: 5px solid transparent;
    display: inline-block;
    font-family: $font-family-title;
    span{
      padding: 10px 10px;
      border-radius: 3px;
      transition: background-color 0.1s ease;
    }

    transition: border-bottom 0.1s ease;
    transition: color 0.1s ease;
    &:hover {
      // border-bottom: 5px solid $special-text-color;
      color: $dark-text-color;
      span{
        background-color: $light-text-color;
      }

    }
  }
 }

.navbar-wagon {
  background: $navbar-bg;
  font-family: $font-family-title;
  border: none;
  border-radius: 0px;
  font-size: $navbar-font-size;
  letter-spacing: $navbar-letter-spacing;
  padding-left: $navbar-horizontal-padding;
  padding-right: $navbar-horizontal-padding;
  min-height: 0;
  transition: background 0.4s ease;

  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    color: $navbar-color;
    line-height: $navbar-height;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
    background-color: transparent;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: $navbar-hover-color;
    background-color: transparent;
  }

  .navbar-brand,
  .navbar-brand:hover {
    outline: none;
    color: $navbar-color;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
  }

  .navbar-nav > li > a.btn {
    line-height: $navbar-btn-height;
    padding: 0 $navbar-btn-horizontal-padding;
    color: $navbar-btn-color;
    border-radius: $navbar-btn-radius;
    margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
    font-weight: bold;
    background-color: $navbar-btn-bg;
    // font-size: 12px;
    &:hover{
      background-color: darken($navbar-btn-bg, 30%);
    }
  }

  .navbar-brand img, .navbar-brand svg {
    height: $navbar-height;
    padding: 0px;
    width: 250px;
  }

  .img-avatar {
    height: $navbar-height;
    margin-right: 10px;
    border-radius: 999em;
  }

  .navbar-toggle {
    border-color: #dddddd;
    width: 45px;
    background: transparent;
  }

  .navbar-nav > li > .dropdown-menu {
    font-weight: normal;
    border-radius: $box-corner-radius;
    margin-top: 5px;
  }

  .navbar-nav > li > .dropdown-menu:before {
    position: absolute;
    background: white;
    height: 10px;
    width: 10px;
    content: "\00a0";
    display: block;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    z-index: -1;
  }
}

.badge {
  background-color: $red;
}

.shot-link-navbar {

}

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */

@media screen and (max-width: 768px) {
  .navbar-wagon {
    .navbar-brand img, .navbar-brand svg {
      height: 50px;
    }
    .navbar-brand, .navbar-brand:hover
     {
      display: block;
      color: $navbar-color;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
