/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.btn {
  border-radius: 999em;
}

.btn-right {
  float: right;
  margin-left: 10px;
}

#profile-picture {
  float: left;
  margin: 20px;

}

#profile-details {
  margin-top: 20px;
  margin-left: 20px;
}

.clear {
  clear: both;
}