/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
.btn {
  font-family: $font-family-button;
  font-size: $button-size;
  letter-spacing: $letter-spacing;
  padding: 10px 16px;
}

.iconified {
  margin-right: 15px;
}