// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

@font-face {
    font-family: 'National';
    src: asset-url('National-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('ProximaNova-Light.eot?') format('eot'),
       url('ProximaNova-Light.otf')  format('opentype'),
       url('ProximaNova-Light.woff') format('woff'),
       url('ProximaNova-Light.ttf')  format('truetype'),
       url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('ProximaNova-Regular.eot?') format('eot'),
       url('ProximaNova-Regular.otf')  format('opentype'),
       url('ProximaNova-Regular.woff') format('woff'),
       url('ProximaNova-Regular.ttf')  format('truetype'),
       url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('ProximaNova-Bold.eot?') format('eot'),
       url('ProximaNova-Bold.otf')  format('opentype'),
       url('ProximaNova-Bold.woff') format('woff'),
       url('ProximaNova-Bold.ttf')  format('truetype'),
       url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}

@font-face {
    font-family: 'Museo Slab';
    src: asset-url('MuseoSlab-500.otf');
    font-weight: normal;
    font-style: normal;
}