@font-face {
    font-family: 'National';
    src: asset-url('National-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: asset-url('ProximaNova.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: asset-url('ProximaNovaBold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: asset-url('ProximaNovaSemiBold.otf');
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: asset-url('ProximaNovaLight.otf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: asset-url('MuseoSlab-500.otf');
    font-weight: normal;
    font-style: normal;
}