.graph {
  margin: 0;
  width: 100%;
  height: 250px;
  padding: 50px;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  background: lighten($light-bg-color, 15%);
  .graph-left {
    width: 40%;
    display: inline-block;
    // background: LightGreen;
  }
  .graph-right {
    width: 60%;
    display: inline-block;
  }
}

.graphy-thingy{
  rect{
    fill: transparent;
  }
}