.score-stuff{
  z-index: 5000;
  color: white;
  top: -70px;
  position: relative;
  left: 30px;

}
  .circle-container{
    width: 100px;
    height: 100px;
    margin: 25px;
    background: transparent;
    position: relative;
    h3{
      position: absolute;
      z-index: 5000;
      padding-left: 25%;
      padding-top: 40%;
      color: white;
      font-size: 20px;
    }
  }
  .circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: image-url("moon_small.png");
    position: absolute;
    overflow: hidden;
    text-align: center;
    z-index: 1000;


    .bar{
      height: 100%;
      position: absolute;
      background-color: rgba(255, 255, 0, 0.4);
      z-index: 2000;
    }
  }