.centered {
  text-align: center;
}

.page-title {
  position: relative;
  width: 100%;
  height: 120px;
  margin: 0px;
  padding: 40px 50px;
  // background: LightBlue;
  h1 {
    display: block;
    float: left;
  }
  img {
    margin: -5px 20px 0px 0px;
    float: left;
  }
}

.page-menu {
  width: 100%;
  height: 47px;
  margin: 0px 50px;
  // padding: 0px 30px;
  // background: LightGreen;
  ul {
    margin: 0;
  }
}

.page-content {
  width: 100%;
  padding: 20px 50px;
}

.page-foot {
  width: 100%;
  margin: 0px;
  padding: 50px;
  text-align: center;
  clear: both;
  // background: LightGreen;
}