.square-card {
  margin: 0;
  width: 188px;
  height: 225px;
  padding: 35px;
  border: 1px solid white;
  text-align: center;
  background: white;
  display: inline-block;
  float: left;
  p.title {
    font-weight: 300;
  }
  p.description {
  }
}